<div id="paintPanel" class="bitsy-card bitsy-card-m bitsy-workbench-item">
    <div class="bitsy-card-titlebar">
        <span class="icon icon-paint"></span>

        <span class="bitsy-card-title" title="paint window" onmousedown="grabCard(event);">
            <span class="localize paint_tool_name">pixel editor</span>
        </span>

        <button title="show about page for paint" onclick="showAbout('./tools/paint', 'paintPanel');">
            <span class="icon icon-help"></span>
        </button>

        <button title="minimize paint window" class="bitsy-card-close-button" onclick="hidePanel('paintPanel');">
            <span class="icon icon-close"></span>
        </button>
    </div>

    <div class="bitsy-card-main">
        <form id="paintModeRadio" class="bitsy-menu-group">
            <input type="radio" name="paint mode" value="avatar" onclick="on_paint_avatar();" id="paintOptionAvatar" checked>
            <label title="edit the avatar: the player's character" for="paintOptionAvatar" class="left">
	        <span class="icon icon-avatar"></span>
                <span class="localize avatar_label">avatar</span>
            </label>

            <input type="radio" name="paint mode" value="tile" onclick="on_paint_tile();" id="paintOptionTile">
            <label title="edit tiles: pieces of scenery" for="paintOptionTile" class="middle">
	        <span class="icon icon-tile"></span>
                <span class="localize tile_label">tile</span>
            </label>

            <input type="radio" name="paint mode" value="sprite" onclick="on_paint_sprite();" id="paintOptionSprite">
            <label title="edit sprites: non-player characters and interactive objects" for="paintOptionSprite" class="middle">
	        <span class="icon icon-sprite"></span>
                <span class="localize sprite_label">sprite</span>
            </label>

            <input type="radio" name="paint mode" value="item" onclick="on_paint_item();" id="paintOptionItem">
            <label title="edit items: things the player can pick up" for="paintOptionItem" class="right">
	        <span class="icon icon-item"></span>
                <span class="localize item_label">item</span>
            </label>

        </form>

        <div id="paintNavigationControls" class="navControl">
            <!-- name -->
            <input title="a name to refer to this drawing" type="text" id="drawingName" class="textInputField" onchange="on_drawing_name_change();">

            <!-- prev / next -->
            <button title="previous drawing" class="color0 disableForAvatar" onclick="prev();">
                <span class="icon icon-previous"></span>
            </button>

            <button title="next drawing" class="color0 disableForAvatar" onclick="next();">
                <span class="icon icon-next"></span>
            </button>

            <!-- add / copy / delete -->
            <button title="add drawing" class="color0 disableForAvatar" onclick="newDrawing();">
                <span class="icon icon-add"></span>
            </button>

            <button title="duplicate drawing" class="color0 disableForAvatar" onclick="duplicateDrawing();">
                <span class="icon icon-copy"></span>
            </button>

            <button title="delete drawing" class="color0 disableForAvatar" onclick="deleteDrawing();">
                <span class="icon icon-delete"></span>
            </button>

            <!-- find -->
            <button title="open find tool: drawings" onclick="openFindToolWithCurrentPaintCategory();">
                <span class="icon icon-search"></span>
            </button>
        </div>

        <canvas id="paint" #paint></canvas>

        <div id="paintEditMain">
            <div class="buttonGroup">
                <input type="checkbox" id="paintGridCheck" onclick="togglePaintGrid(event);" autocomplete="off" checked/>
                <label title="show / hide grid" for="paintGridCheck" class="bitsy-menu-label">
                    <span class="icon icon-visibility"></span>
                    <span class="localize grid_toggle_visible">grid</span>
                </label>
                <button id="showInventoryButton" title="show inventory" class="bitsy-menu-label" onclick="showPanel('inventoryPanel', 'paintPanel');">
                    <span class="icon icon-inventory"></span>
                    <span class="localize inventory_tool_name">inventory</span>
                </button>
            </div>
        </div>

        <div id="wall" class="controlBox" style="display:none;">
            <input type="checkbox" id="wallCheckbox" onchange="on_toggle_wall(event);" autocomplete="off" >
            <label title="make tile an impassible wall" for="wallCheckbox" class="bitsy-menu-label">
                <span id="wallCheckboxIcon" class="bitsy_icon">wall_off</span>
                <span class="localize wall_toggle">wall</span>
            </label>
        </div>

        <div id="dialog" style="display:none;">
        </div>

        <div id="animationOuter" class="controlBox">
            <div id="isAnimated">
                <input type="checkbox" id="animatedCheckbox" onchange="on_toggle_animated();" autocomplete="off" >
                <label title="add animation to drawing" for="animatedCheckbox">
                    <span class="localize animation_title">animation</span>
                    <span id="animatedCheckboxIcon" class="icon icon-expand-less" style="margin-left: var(--bitsy-space-s);"></span>
                </label>
            </div>
            <div id="animation" style="display:none;">
                <div class="bitsy-menu-group">
                    <div class="bitsy-thumbnail">
                        <div class="bitsy-thumbnail-image-container">
                            <img id="animationThumbnailPreview" />
                        </div>
                        <label class="bitsy-menu-label">
                            <span class="localize animation_preview">preview</span>
                        </label>
                    </div>
                    <div id="animationKeyframe1" class="bitsy-thumbnail" onclick="on_paint_frame1();">
                        <div class="bitsy-thumbnail-image-container">
                            <img id="animationThumbnailFrame1" />
                        </div>
                        <label class="bitsy-menu-label">
                            <span class="localize animation_frame1">frame 1</span>
                        </label>
                    </div>
                    <div id="animationKeyframe2" class="bitsy-thumbnail" onclick="on_paint_frame2();">
                        <div class="bitsy-thumbnail-image-container">
                            <img id="animationThumbnailFrame2" />
                        </div>
                        <label class="bitsy-menu-label">
                            <span class="localize animation_frame2">frame 2</span>
                        </label>
                    </div>
                </div>
            </div>
        </div>

        <div id="newPaintMenu" class="bitsy-menu"></div>
    </div>
</div>

