/* theme */
:root {
    --bitsy-color-main-1: #ffffff;
    --bitsy-color-main-2: #6767b2;
    --bitsy-color-accent-1: #e8e8ff;
    --bitsy-color-accent-2: #ccccff;
    --bitsy-color-neutral-1: #eee;
    --bitsy-color-neutral-2: #888;
    --bitsy-space-xxs: 0.05rem;
    --bitsy-space-xs: 0.125rem;
    --bitsy-space-s: 0.25rem;
    --bitsy-space-m: 0.5rem;
    --bitsy-space-l: 1.0rem;
    --bitsy-space-xl: 1.5rem;
    --bitsy-size-xxs: 4rem;
    --bitsy-size-xs: 8rem;
    --bitsy-size-s: 16rem;
    --bitsy-size-m: 24rem;
    --bitsy-size-l: 32rem;
}

/* font */
@font-face {
        font-family: "monocraft, medium", monospace;
        src: url(./assets/fonts/monocraft.otf);

}

body { background-color: var(--bitsy-color-accent-2); }
